<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <!--<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- icheck bootstrap -->
    <!--<link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Theme style -->
    <!--<link rel="stylesheet" href="dist/css/adminlte.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<style>
    .loader {
        margin-top: 20px;
    width: 48px;
    height: 48px;
    border: 5px solid #34495e;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
</style>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <h2 style="display: inline-block; font-size: 50px;font-weight: bold;">
                <span style="color: #34495e;border: 3px solid #EDF1FF !important;padding-left:8px;padding-right:8px" class=" font-weight-bold border px-2 mr-1">V</span>
</h2><span style="font-size: 20px;font-weight:bold"><span style="color: #2ecc71;">y</span><span style="color: #3498db">n</span><span style="color: #e74c3c;">d</span style="color: #3498db">o<span style="color: #2ecc71;">r</span><span style="color: #34495e;">e</span></span>
        </div>
        <!-- /.login-logo -->
        <div class="card text-center" >
            <div class="card-header h5 text-white bg-primary">Réinitialiser le mot de passe</div>
            <div class="secondaire" style="display: none;">
                <span class="loader"></span>
            </div>
            <div class="principal">
                <div class="card-body px-5">
                    
                    <div class="form-outline">
                       Ce lien a expiré ou est introuvable.
                    </div>
                    <!--<div class="d-flex justify-content-between mt-4">
                        <a class="" href="/connexion">Connexion</a>
                        <a class="" href="/inscription">Inscription</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.login-box -->

    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->

    <!--<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>-->
    <%- include('footer');%>

</body>

</html>